.pokemon-move-list {
  .moves {
    max-height: 300px;
    margin-left: -5px;
    margin-bottom: -5px;

    overflow-y: auto;

    .move {
      display: inline-block;
      margin-left: 5px;
      margin-bottom: 5px;
      color: #ffffff;
      background-color: rgb(255, 133, 51);
      text-decoration: none;
      padding: 0 3px;
      border: 1px solid rgb(214, 111, 43);
      border-radius: 3px;
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
    }
  }
}
