.pokemon-evolution-chain {
  margin-bottom: 20px;

  .pokemon-evolution-chain-joint {
    display: flex;
    justify-content: center;
    align-items: stretch;

    .pokemon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 80px;

      .pokemon-image {
        width: 70px;
        height: 70px;
        
        img {
          width: 100%;
          height: 100%;
        }
      }

      .pokemon-number {
        color: #585858;
        font-size: 0.8em;
        line-height: 0.8em;
      }

      .pokemon-name {
        color: #2a6bbf;
        font-weight: bold;
        font-size: 1em;
        line-height: 1em;
        min-height: 1em;
      }

      .pokemon-types {
        font-size: 0.9em;
        line-height: 1em;
        font-weight: bold;
        overflow: hidden;
        min-height: 1em;

        .type-list {
          margin-left: -5px;
        }

        .type {
          margin-left: 5px;
          display: inline-block;

          &:nth-child(2n) {
            color: #ff257c;
          }

          &:nth-child(2n - 1) {
            color: #ce9d0d;
          }
        }
      }
    }

    .from-species,
    .to-species,
    .directions {
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .directions {
      .pokemon-evolution-direction {
        width: 60px;
        height: 100%;
        position: relative;

        .text {
          vertical-align: bottom;
          line-height: 1em;
        }

        .arrow {
          position: absolute;
          top: 0;
          background-image: url(./arrow.svg);
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-position: center center;
          transform: rotate(180deg);
        }

        &.direction,
        &.direction-1-1,
        &.direction-2-3 {
          .arrow {
            transform: rotate(180deg);
          }
        }

        &.direction-1-2 {
          .arrow {
            transform: rotate(165deg);
          }
        }

        &.direction-2-2 {
          .arrow {
            transform: rotate(195deg);
          }
        }

        &.direction-1-3 {
          .arrow {
            transform: rotate(155deg);
          }
        }

        &.direction-3-3 {
          .arrow {
            transform: rotate(205deg);
          }
        }
      }
    }
  }
}
