@import "../assets/fonts/Calibri/stylesheet.css";

html,
body {
  padding: 0;
  margin: 0;
}

.app-root {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  font-family: Calibri;
}

.modal-content {
  max-width: 300px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .app-root {
    width: 100%;
  }

  .modal-content {
    max-width: 550px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .app-root {
    width: 100%;
  }

  .modal-content {
    max-width: 700px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .app-root {
    width: 992px;
  }

  .modal-content {
    max-width: 1280px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .app-root {
  }
}

.row {
  display: flex;
}
