.pokemon-type {
  color: #ffffff;
  background-color: #ffcc33;
  text-decoration: none;
  padding: 0 3px;
  border: 1px solid #d6ab2b;
  border-radius: 3px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);

  &.selected {
    background-color: rgb(165, 130, 26);
  }
}
