.pokemon-board {
  margin: 0 15px;

  .board-navigations {
    margin-left: -10px;

    a {
      color: rgb(255, 255, 255);
      text-decoration: none;
      margin-left: 10px;
      padding: 2px 10px;
      background-color: #e77e22;
      border: 1px solid rgb(151, 151, 151);
      border-radius: 5px;

      &[disabled] {
        color: #dddddd;
        background-color: rgb(255, 187, 128);
        pointer-events: none;
      }
    }
  }

  .pokemon-board-list {
    overflow: hidden;
  }

  .pokemon-board-item {
    position: relative;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgb(26, 26, 26);
    text-decoration: none;

    &:hover {
      background-color: #f5f5f5;
    }

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      background-color: #d4d4d4;
      border-radius: 1px;
      z-index: 10;
    }

    &::before {
      height: 1px;
      left: 20%;
      right: 20%;
      top: -1px;
    }

    &::after {
      width: 1px;
      top: 20%;
      bottom: 20%;
      right: -2px;
    }

    h3 {
      margin-top: 0;
      margin-bottom: 10px;
      text-align: left;
    }

    table {
      border-spacing: 0px;
      width: 100%;
      table-layout: auto !important;

      td,
      th {
        border-top: 1px solid #c5c5c5;
        padding: 3px 5px;
        vertical-align: top;
        text-align: left;
      }

      th {
        text-align: right;
        font-weight: normal;
        width: 90px;
        color: #585858;
      }

      ol {
        margin-block-start: 0px;
        margin-block-end: 0px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 20px;
      }
    }

    .pokemon-board-item-pokedex {
      min-height: 300px;
      font-size: 0.9em;

      table {
        th {
          width: 80px;
        }
      }
    }

    .pokemon-board-item-image {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
      }

      .hidden {
        display: none;
      }
    }

    .pokemon-board-item-base-stats {
      table {
        th {
          width: 50px;
        }

        td.value {
          width: 20px;
          text-align: center;
        }

        td.bar {
          vertical-align: middle;
        }
      }
    }
  }

  .board-navigations {
    margin: 20px 0;
  }

  .pokemon-type-container {
    .pokemon-type-item {
      display: inline-block;
      margin-right: 5px;
    }
  }

  .no-data-found {
    margin: 20px 0;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: rgb(182, 182, 182);

    color: #616161;
    text-shadow: #e0e0e0 1px 1px 0;
  }
}
